body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    background-color: #FFD700; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .auth-container {
    background-color: #FFF8DC; 
    width: 400px; 
    padding: 50px; 
    border-radius: 15px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    text-align: center;
  }
  
  .auth-container h1 {
    font-size: 2.5em;
    color: #333; 
    margin-bottom: 20px;
  }
  
  .auth-container label {
    display: block;
    font-size: 1.2em; 
    color: #555; 
    margin: 15px 0 10px 0;
  }
  
  .auth-container input {
    width: calc(100% - 20px); 
    padding: 15px; 
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 10px; 
    font-size: 1em;
  }
  
  .auth-button {
    width: calc(100% - 20px);
    background-color: #333; 
    color: #FFD700; 
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px; 
  }
  
  .auth-button:hover {
    background-color: #FFD700; 
    color: #333; 
    transform: rotate(2deg) scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
  }
  
  
  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #dadce0;
    margin-top: 15px; 
    font-size: 16px; 
    font-weight: 500;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    width: 100%; 
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; 
  }
  
  .google-button:hover {
    background-color: #f7f8f9;
    box-shadow: 0 4px 8px rgba(60, 64, 67, 0.3);
    transform: scale(1.05); 
  }
  
  
  .google-icon {
    height: 25px;
    width: 25px;
    margin-right: 12px;
  }
  
  .auth-link {
    text-decoration: none;
    color: #555; 
    margin-top: 15px;
  }
  
  .auth-link:hover {
    text-decoration: underline;
    color: #333;
  }
  
  .auth-register {
    text-decoration: none;
    color: #333;
    margin-top: 20px;
    display: block; 
  }
  
  .auth-register:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  hr {
    color: #333; 
    margin: 20px 0;
  }
  