.restaurant-details-container {
    position: relative;
    background-color: #fff;
    width: 80vw; 
    height: 75vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 140px; 
    padding: 20px;
}

.restaurant-image img {
    width: 100%;
    height: 45vh; 
    object-fit: cover;
    border-bottom: 2px solid #ccc;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.back-button:hover {
    color: #007BFF;
}

h2 {
    font-size: 28px; 
    font-weight: 700; 
    color: #444; 
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 15px;
    font-family: 'Georgia', serif; 
}

p {
    font-size: 18px; 
    color: #555; 
    line-height: 1.6; 
    margin: 5px 0;
    font-family: 'Arial', sans-serif; 
}

p strong {
    color: #000; 
    font-weight: bold;
}

p, h2 {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
