/* Contenedor general */
.restaurant-details-container {
    position: relative;
    background-color: #fff;
    width: 80vw; /* Ocupa el ancho completo */
    height: 75vh; /* Ocupa el alto completo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 140px; /* Espacio entre el header y el contenido */
    padding: 20px;
}

/* Imagen del restaurante */
.restaurant-image img {
    width: 100%;
    height: 50vh; /* La mitad de la pantalla para la imagen */
    object-fit: cover;
    border-bottom: 2px solid #ccc;
}

/* Botón de flecha */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.back-button:hover {
    color: #007BFF;
}

/* Estilo del título */
h2 {
    font-size: 28px; /* Tamaño más grande */
    font-weight: 700; /* Peso fuerte */
    color: #444; /* Un gris oscuro elegante */
    text-align: center;
    text-transform: uppercase; /* Letras en mayúsculas */
    margin-bottom: 15px;
    font-family: 'Georgia', serif; /* Fuente elegante */
}

/* Estilo del texto descriptivo */
p {
    font-size: 18px; /* Tamaño de fuente medio */
    color: #555; /* Color gris oscuro */
    line-height: 1.6; /* Espaciado entre líneas */
    margin: 5px 0;
    font-family: 'Arial', sans-serif; /* Fuente legible */
}

/* Enfatizar elementos clave */
p strong {
    color: #000; /* Negro fuerte para palabras clave */
    font-weight: bold;
}

/* Animación sutil para los textos */
p, h2 {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
