.favorites {
    margin-top: 80px; 
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    height: calc(100vh - 80px); 
    overflow-y: auto; 
    box-sizing: border-box;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 150px;
}


.favorites-header {
    justify-content: top;
}

.favorites-elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-content: center;
}

.restaurant-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.favorite-icon {
    cursor: pointer;
}

.reload-container {
    position: absolute;
    bottom: 0px; 
    right: 10px; 
    z-index: 1;
}

.reload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reload-button:hover {
    background-color: #0056b3; 
}
